body {
    background: url("../image/aircraft-bg.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'AR One Sans', sans-serif;
}

h1 {
    color: white;
}

section {
    padding: 2rem;
}

.quiz-box {
    width: 90%;
    border-radius: 25px;
    padding: 0px;
    margin-bottom: 20px;
    background-color: lightblue;
    margin-left: auto;
    margin-right: auto;
}
