body {
    background-color: lightskyblue !important;
    font-family: 'AR One Sans', sans-serif;
    
}

.quiz-box {
    width: 90%;
    border-radius: 25px;
    padding: 0px;
    margin-bottom: 20px;
    background-color: lightblue;
    margin-left: auto;
    margin-right: auto;
}
