body {
    background: url("../image/aircraft-bg.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'AR One Sans', sans-serif;
}

.white-text {
    color: white;
}

section {
    padding: 2rem;
}